<h1>Public::Customers#show</h1>
<h2>登録情報</h2>
<%= link_to "編集する", public_customers_infomation_path %>
<table>
  <tr>
    <th>氏名</th>
    <th><%= @customer.last_name %> <%= @customer.first_name %></th>
  </tr>
</table>

