<h1>Public::Carts#index</h1>
<h2>カート商品一覧</h2>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>個数</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <% @carts.each do |cart| %>
    <tbody>
      <tr>
        <td><%= cart.item.item_name %></td>
        <td><%= cart.item.price*1.1.round %>円</td>
        <td><%= cart.quantity %>個</td>
        <td><%= cart.item.price*cart.quantity*1.1.round %>円</td>
        <td>削除する</td>
      </tr>
    </tbody>
  <% end %>
</table>
<table>
  <% @carts.each do |cart| %>
    <tbody>
      <tr>
        <td>合計金額</td>
        <td></td>
      </tr>
    </tbody>
  <% end %>
</table>


