<h1>Public::Carts#index</h1>
<h2>カート商品一覧</h2>
<table>
  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= cart.item.item_name %></td>
        <td><%= cart.item.price %>円</td>
        <td><%= cart.quantity %>個</td>
      </tr>
    <% end %>
  </tbody>
</table>